*{
  margin: 0;
  padding: 0;  
  background-color: black;
  color: seashell;
  opacity: 0.9;
}

body{
  font-size: 22px;	
}

/*main container*/
.content_container{
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
}

/*header*/
.header_container{
  display: flex;
  border-bottom: 1px solid seashell;
  align-items: center;
  height: 69px;
  width: 100%;
  padding: 10px;
  z-index: 1;
  
}

.header_container li {
  display: inline;
  padding: 10px;
   
}

.header_container span{
  flex: auto;	
}

.header_container img{
  height: 50px;
  padding: 10px;
}

/*Our Mission first panel*/
.our_mission{
  display: flex;
  height: 700px;
  width: 1200px;
  margin: 10px; 
}

.our_mission .background_image{
	background-image: url("../images/background-missions.jpg"); 
}

.text_content{
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-flow: column; 
  padding: 10px;
}

/*Tea Of The Month second panel*/
.tea_of_the_month{
 width: 1000px;
   
    
 
  margin-bottom: 10px;
  
}

.images{
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  justify-content: center;
  align-items: center;
}



.image{
  display: block;
  height: 200px;
  width: 300px;  
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px;
  
}

.image img{
  	height: auto;
	width: 300px;
}

.image span{
  position: absolute;
  overflow: visible;	
}





